@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

@media only screen and (max-width: 1170px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
    height: 100vh;
  }
  .new-container {
    @apply mx-4;
  }
}
@media only screen and (min-width: 1170px) {
  .new-container {
    @apply w-[1170px] mx-auto;
  }
}
.portfolio:hover .portfolio-popup {
  display: block;
}
.services:hover .services-popup {
  display: block;
}
.languages:hover .languages-popup {
  display: block;
}
@keyframes slide {
  to {
    left: -200px;
  }
}

@keyframes reverseSlide {
  from {
    left: 100%;
  }
  to {
    left: calc((240) * -1);
  }
}
.social-link {
  @apply flex items-center justify-center w-10 h-10 rounded-full bg-blue-600 text-white;
}
.blog-headers {
  @apply text-title text-[32px] md:text-[64px]  font-extrabold;
}
 
